.section {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.form {
  padding: 0 100px;
}
input {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}
