button{
  margin-right: 10px;
  background-color: cadetblue;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 10px;
}
button:hover{
  background-color: darkcyan;
  cursor: pointer;
}
.container{


  text-align: center;

  align-content: center;

  height: 80vh;
}
