<h3>Agregar: {{ name() }}</h3>
<input
  type="text"
  placeholder="Nombre"
  value="{{ name() }}"
  (change)="name.set(txtName.value)"
  (input)="name.set(txtName.value)"
  #txtName
/>
<input
  type="number"
  placeholder="Poder"
  value="{{ power() }}"
  (change)="power.set(+txtPower.value)"
  #txtPower
/>

<!-- <button (click)="addCharacter()">Agregar</button> -->
<app-custom-button
  label="Guardar Cambios"
  stylee="danger"
  size="lg"
  [fullWidth]="true"
  (clicked)="addCharacter()"
>
</app-custom-button>
